Repository THEMKM/seraaj-eventsourced, changes with the owners that .github/CODEOWNERS names for each.
All owners: @architect, @applications-team, @matching-team, @platform-team

feat: Add complete Claude Code sub-agent definitions
  .agents/AGENTS_DEFINITIONS.md
  .claude/agents/README.md
  .claude/agents/contract-architect.md
  .claude/agents/generator.md
  .claude/agents/orchestrator.md
  .claude/agents/service-builder-applications.md
  .claude/agents/service-builder-matching.md
  .claude/agents/validator.md
  tools/validators/validate_agents.py
Owners: none

feat: Add BFF OpenAPI contracts and TypeScript SDK generation
  .agents/boundaries.json
  .agents/checkpoints/contracts.done
  .agents/checkpoints/generation.done
  .claude/agents/README.md
  .claude/agents/frontend-composer.md
  .claude/settings.local.json
  .tmp/bff.bundled.yaml
  contracts/v1.0.0/api/bff.openapi.yaml
  contracts/v1.0.0/api/schemas/application.yaml
  contracts/v1.0.0/api/schemas/match-suggestion.yaml
  contracts/v1.0.0/api/schemas/submit-application.yaml
  contracts/v1.0.0/api/schemas/volunteer-profile-view.yaml
  contracts/v1.0.0/commands/submit-application.schema.json
  contracts/v1.0.0/entities/application.schema.json
  contracts/v1.0.0/entities/match-suggestion.schema.json
  contracts/v1.0.0/entities/volunteer-profile-view.schema.json
  contracts/v1.0.0/events/application-submitted.schema.json
  contracts/v1.0.0/workflows/application-workflow.json
  contracts/version.lock
  openapitools.json
  package.json
  packages/sdk-bff/.contracts_checksum
  packages/sdk-bff/index.ts
  packages/sdk-bff/package.json
  packages/sdk-bff/src/apis.ts
  packages/sdk-bff/src/client.ts
  packages/sdk-bff/src/runtime.ts
  packages/sdk-bff/src/types.ts
  pnpm-workspace.yaml
  tools/generators/generate.py
Owners: @architect

feat: Add Next.js 14 frontend with 8-Bit Optimism design system
  .agents/checkpoints/frontend.done
  .claude/settings.local.json
  .gitignore
  apps/web/.env.local.example
  apps/web/app/auth/login/page.tsx
  apps/web/app/feed/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/profile/page.tsx
  apps/web/contexts/AuthContext.tsx
  apps/web/eslint.config.js
  apps/web/lib/bff.ts
  apps/web/next-env.d.ts
  apps/web/next.config.cjs
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/tailwind.config.cjs
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  package.json
  packages/config/tailwind-preset.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  packages/ui/src/components/PxButton.tsx
  packages/ui/src/components/PxCard.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/tokens.css
  packages/ui/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Owners: none

Test allowed file for FRONTEND_COMPOSER
  apps/web/test-allowed.txt
Owners: none

chore(hardening): tighten SDK determinism, FE boundaries, pre-commit guard, validator updates
  .agents/boundaries.json
  .agents/checkpoints/frontend.done
  .agents/checkpoints/generation.done
  .agents/checkpoints/hardening.done
  .agents/checkpoints/orchestration.done
  .agents/checkpoints/validation.done
  .agents/runs/FRONTEND_COMPOSER/2025-08-09T00-30-00.json
  .agents/runs/GENERATOR/2025-08-09T00-30-44.405528Z.json
  .claude/settings.local.json
  .github/pull_request_template.md
  apps/web/.eslintrc.cjs
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/test-allowed.txt
  apps/web/tsconfig.tsbuildinfo
  bff/.env.example
  bff/__init__.py
  bff/main.py
  bff/requirements.txt
  bff/start_server.py
  bff/test_health.py
  frontend/src/types/entities.ts
  package.json
  packages/sdk-bff/.codegen_versions.json
  packages/ui/package.json
  pnpm-lock.yaml
  services/shared/models.py
  tools/generators/generate.py
  tools/validators/validate.py
  tools/validators/watch.sh
Owners: none

feat(services): applications+matching MVP; BFF integration; e2e
  .agents/checkpoints/applications.done
  .agents/checkpoints/matching.done
  .agents/checkpoints/orchestration.done
  .agents/checkpoints/validation.done
  .claude/settings.local.json
  apps/web/tsconfig.tsbuildinfo
  bff/adapters/__init__.py
  bff/adapters/applications.py
  bff/adapters/matching.py
  bff/main.py
  bff/requirements.txt
  data/application_events.jsonl
  data/applications.json
  data/match_history.jsonl
  data/match_suggestions.json
  infrastructure/__init__.py
  services/applications/__init__.py
  services/applications/api.py
  services/applications/events.py
  services/applications/manifest.json
  services/applications/repository.py
  services/applications/service.py
  services/applications/state_machine.py
  services/applications/tests/__init__.py
  services/applications/tests/test_service.py
  services/matching/__init__.py
  services/matching/algorithm.py
  services/matching/api.py
  services/matching/manifest.json
  services/matching/repository.py
  services/matching/service.py
  services/matching/tests/__init__.py
  services/matching/tests/test_algorithm.py
  services/matching/tests/test_service.py
  services/shared/models.py
  test_data/application_events.jsonl
  test_data/applications.json
  tests/e2e/test_bff_flow.py
  tools/validators/validate.py
Owners: @platform-team, @applications-team, @matching-team

docs: update README to reflect complete service integration
  README.md
Owners: none

chore: sync branch with latest Claude settings
  .claude/settings.local.json
Owners: none

fix(ci): correct port inconsistencies and enhance service coverage
  .agents/boundaries.json
  .github/workflows/ci.yml
  tools/ci/validate_api_contracts.py
Owners: none

fix(ci): resolve test failures and add comprehensive test coverage
  .claude/settings.local.json
  .github/workflows/ci.yml
  apps/web/__tests__/components/auth/LoginForm.test.tsx
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  package.json
Owners: none

feat: complete full-stack integration test with successful end-to-end validation
  .claude/settings.local.json
  .github/workflows/ci.yml
  apps/web/__tests__/components/auth/LoginForm.test.tsx
  apps/web/components/forms/PxInput.tsx
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/tsconfig.tsbuildinfo
  conftest.py
  data/application_events.jsonl
  data/applications.json
  data/auth_events.jsonl
  data/match_history.jsonl
  data/match_suggestions.json
  pnpm-lock.yaml
  services/__init__.py
Owners: none

feat: comprehensive system validation with contract compliance and event sourcing tests
  .agents/checkpoints/validation.done
  tests/integration/test_dual_backend.py
  tests/test_contract_compliance.py
  tests/test_event_sourcing.py
  tools/validators/comprehensive_validation.py
Owners: none

Onboarding redirect only after registration: split login/register success handlers; add reusable OnboardingFlow and steps.
  apps/web/app/auth/page.tsx
  apps/web/components/onboarding/OnboardingFlow.tsx
  apps/web/components/onboarding/steps/CompletionStep.tsx
  apps/web/components/onboarding/steps/PreferencesStep.tsx
  apps/web/components/onboarding/steps/ProfileStep.tsx
  apps/web/components/onboarding/steps/UserTypeStep.tsx
  apps/web/components/onboarding/steps/WelcomeStep.tsx
Owners: none

Adopt V2-style onboarding flow: reusable steps + page integration. Redirect to onboarding after registration only; login goes to dashboard. Persist onboarding details to profile via BFF SDK.
  apps/web/app/onboarding/page.tsx
  apps/web/components/onboarding/OnboardingFlow.tsx
Owners: none

Fix auth page handlers: remove literal \n, restore login/register branching, and route register to onboarding only.
  apps/web/app/auth/page.tsx
Owners: none

Add TODO_NEXT_STEPS.md to track onboarding and matching follow-ups; commit pending data files.
  TODO_NEXT_STEPS.md
  data/auth_events.jsonl
  data/event_sequences.json
  data/match_history.jsonl
  data/match_suggestions.json
Owners: none

feat(web,ui): update pages and add Button component
  apps/web/app/dashboard/page.tsx
  apps/web/app/onboarding/page.tsx
  apps/web/app/opportunities/page.tsx
  apps/web/app/organization/dashboard/page.tsx
  apps/web/app/organization/opportunities/[id]/page.tsx
  apps/web/app/organization/opportunities/create/page.tsx
  apps/web/app/organization/opportunities/page.tsx
  apps/web/app/profile/page.tsx
  apps/web/components/dashboard/XPProgressBar.tsx
  apps/web/components/forms/PxSelect.tsx
  apps/web/components/navigation/Header.tsx
  apps/web/components/onboarding/OnboardingFlow.tsx
  apps/web/components/onboarding/steps/PreferencesStep.tsx
  apps/web/components/onboarding/steps/ProfileStep.tsx
  apps/web/components/onboarding/steps/UserTypeStep.tsx
  apps/web/components/search/FilterPanel.tsx
  apps/web/contexts/AuthContext.tsx
  apps/web/contexts/OpportunitiesContext.tsx
  apps/web/contexts/SearchContext.tsx
  apps/web/tsconfig.tsbuildinfo
  apps/web/utils/gamification.ts
  packages/ui/BUTTON_IMPLEMENTATION.md
  packages/ui/package.json
  packages/ui/scripts/build.mjs
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.test.future.tsx
  packages/ui/src/components/Button/Button.test.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/README.md
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/PxButton.tsx
  packages/ui/src/components/PxInput.tsx
  packages/ui/src/types.d.ts
  packages/ui/test-button.html
  packages/ui/tsconfig.tsbuildinfo
Owners: none

.github/CODEOWNERS:

/contracts/ @architect
/services/applications/ @applications-team
/services/matching/ @matching-team
/infrastructure/ @platform-team
